*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Poppons', sans-serif;
}
body {
    display: flex;
    background: url('./fondo.jpeg') no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
   
    
}


header {
    
    margin: 20px 0;
    font-size: 2rem;
    color: #bd4141;
    background-color: rgba(202, 180, 180, 0.5);
    padding: 10px;
    justify-content: center;
}


    


form {
    background-color: rgba(50, 15, 173, 0.1);
    padding: 35px;
    border: 2px solid #d36969;
    border-radius: 10px;
    width: 25%;
   position: absolute;
   min-width: 500PX;
   max-width: 25%;
   top: 60%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: rgb(3, 3, 3);
   background: #d36969;

}





label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"] {
    background-color: #ffffff;
    color: rgb(14, 2, 2);
}

button[type="reset"] {
    background-color: #ffffff;
    color: rgb(14, 12, 12);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: auto;
    width: 20px;
}
.lowercase {
    text-transform: lowercase;
}
